*.geojson text eol=lf
meta/wof-concordances-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-venue-us-nv-concordances-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-venue-us-nv-latest.csv filter=lfs diff=lfs merge=lfs -text
